.adrsmdiv{
    display: flex;
    justify-content: center;
    align-items: center;
}

.adrsdiv{
    border: 1.5px solid rgb(220, 220, 220);
    width: 280px;
    padding: 10px;
    margin-right: 10px;
    border-radius: 7px;
}

.adbtn{
    color: rgb(23, 166, 254);
    text-decoration: none;
    cursor: pointer;
}

.btncol{
    min-width: max-content;
}
.adrsbtn{
    width: 300px;
    height: 230px;
    border-style:dashed;
    border: 2px dashed rgb(208, 208, 208);
    background-color: white;
    border-radius: 7px;
}