#waw{
    position: absolute;
        left: 100px;
        font-size: 100px;
        color: white;
        font-family: "Arial Black";
}
#waw2{
    position: absolute;
        left: 100px;
        font-size: 30px;
        color: white;
        font-family: arial;
       
}
#waw3{
        color: white;
        text-align: center;
       
}



body{
    margin: 0;
}