body {
    margin: 0;
}

@media screen and (min-width: 601px) and (max-width: 2000px) {
    .pdiv {
        margin: 60px 80px;
    }
    .grid{
        display: grid;
        margin-top: 20px;
        grid-template-columns: repeat(5,80px);
        grid-auto-rows: 80px;
        column-gap: 1rem;
    }
    .cimg{
        width:50%;
        border: 1px solid black;
    }
    .simg{
        margin-right: -85px;
        cursor: pointer;
    }
    .cimg:hover{
        box-shadow: 0 0 0 2px rgb(227, 227, 227);
    }
        
    

    .descpre {
        font-family: Arial, sans-serif;
        font-size: 14px;
        line-height: 1.6;
        align-self: flex-start;
        margin-left: 10%;
        margin-top: 65px;
        font-size: 16px;
    }

    .mmrp {
        color: rgb(201, 8, 8);
        margin-top: 50px;
        margin-bottom: 2px;
    }
    .qtylabel{
        margin-top: 30px;
    }

    .qty {
        margin-top: 8px;
        font-family: Arial, sans-serif;
        width: 80px;
        padding-left: 15px;
        height: 45px;
    }

    .addtc {
        color: white;
        background-color: rgb(0, 0, 0);
        border-radius: 4px;
        border-bottom: 0px;
        font-family: Arial, sans-serif;
        border-right: 0px;
        border-color: rgb(0, 0, 0);
        margin-top: 25px;
        height: 50px;
        width: 80%;
    }

    .buy {
        margin-top: 15px;
        font-family: Arial, sans-serif;
        background-color: rgb(163, 255, 24);
        border-radius: 4px;
        border-bottom: 0px;
        border-right: 0px;
        border-color: rgb(163, 255, 24);
        height: 50px;
        width: 80%;
    }
}


@media screen and (max-width: 600px) {
    .shcard{
        width: 380px;
    }
    .grid{
        display: grid;
        margin-top: 20px;
        grid-template-columns: repeat(5,80px);
        grid-auto-rows: 80px;
        column-gap: 1rem;
    }
    .cimg{
        width:50%;
        border: 1px solid black;
    }
    .simg{
        margin-right: -85px;
        cursor: pointer;
    }
    .cimg:hover{
        box-shadow: 0 0 0 2px rgb(227, 227, 227);
    }
    .pdiv {
        margin-top: 40px;
        display: block;
    }

    .colone {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .coltwo {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .qty {
            align-self: flex-start;
            margin-left: 10%;
            width: 80px;
            height: 45px;
        }


    }


    .addtc {
        color: white;
        background-color: rgb(0, 0, 0);
        border-radius: 4px;
        font-family: Arial, sans-serif;
        border-bottom: 0px;
        border-right: 0px;
        border-color: rgb(0, 0, 0);
        margin-top: 25px;
        height: 50px;
        width: 80%;
    }

    .buy {
        margin-top: -10px;
        background-color: rgb(163, 255, 24);
        border-radius: 4px;
        border-bottom: 0px;
        font-family: Arial, sans-serif;
        border-right: 0px;
        border-color: rgb(163, 255, 24);
        height: 50px;
        width: 80%;
    }

    .modln {
        align-self: flex-start;
        margin-left: 10%;
        margin-bottom: 20px;
    }

    .mmrp {
        align-self: flex-start;
        margin-left: 10%;
        color: rgb(201, 8, 8);
        margin-bottom: 2px;
    }
    .mrlabel{
        align-self: flex-start;
        margin-left: 10%;
    }
    .qtylabel{
        align-self: flex-start;
        margin-left: 10%;
        margin-bottom: 10px;
    }

    .descpre {
        font-family: Arial, sans-serif;
        font-size: 14px;
        line-height: 1.6;
        align-self: flex-start;
        margin-left: 10%;
        margin-top: 65px;
        font-size: 14px;
    }
}